ul{
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

h1{
    text-align: center;
    color: antiquewhite;
}

.container{
    color: antiquewhite;
}

body{
    background-color: #191919;
}
